<p>
  <%= @user.username %>
</p>
<p>
  <%= @user.email %>
</p>

<ul id="designs">
  <header>My Designs</header>
  <% @user.designs.each do |design| %>
    <li>
      <%= image_tag design.texture.image, :width => 200 %>
      <%= image_tag design.form.thumbnail, :width => 200 %>
    </li>
  <% end %>
</ul>