// Place all the styles related to the designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight: #F3FF9E;
$light-grey: rgb(200,200,200);

#main-design {
  width: 400px;
  position:relative;
  float:left;
}

#render-container {
  width: 400px;
  height: 550px;
  float: left;
}

#style-picker {
  width: 300px;
  position:absolute;
  top:0px;
  left:40px;
}
#style-picker img{
  width: 50px;
  border: 1px solid white;
}
#style-picker img:hover{
  border: 1px solid $light-grey;
}

#style-picker img.selected {
  border: 1px solid black;
}

.style {
  display: inline-block;

}

h3 {
  font-size: 18px;
}

#new_texture {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-bottom: 5px;
  padding: 10px;
  background-color: $highlight;
}

#artwork {
  width: 310px;
  float: left;
}

#available-artwork {
  height: 500px;
  overflow: scroll;
}

.texture-option {
  width: 90px;
  height: 90px;
  padding: 5px;
}
.texture-option:hover {
  background: $light-grey;
}

.selected-texture {
  background: black;
}

#uploaded-preview {
  border: 1px solid rgb(180,180,180);
}

#recent-designs {
  width: 115px;
  height: 600px;
  overflow:scroll;
  float: left;
}
#recent-design {
  width: 100px;
}
.recent-design-group {
  width: 100px;
  display: inline-block;
  text-align: center;
}

.selected-design {
  background: rgb(200,200,200);
}

#my-closet {
  
  max-width: 100px;
  max-height:140px;
  overflow:hidden;
}

#my-closet img{
  width:100px;
  
}