// Place all the styles related to the designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selected {
background: rgb(200,200,200);
}
.style {
display: inline-block;

}

#uploaded-preview {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(180,180,180);
  float: right;
}

.recent-design-group {
  width: 100px;
  display: inline-block;
}